CREATE OR ALTER FUNCTION [dbo].[fnt_one_column_int_csv]
(@string VARCHAR (MAX), @delimiter CHAR (1))
RETURNS 
    @output TABLE (
        [value] INT NULL, ord int NOT NULL)
AS
BEGIN
    DECLARE
		  @json_values nvarchar(max)

    
	IF @delimiter = ',' 
	BEGIN
		SELECT @json_values = '[' + @string + ']' 
	END

	ELSE
	BEGIN
		SELECT @json_values = '[' + REPLACE(@string, @delimiter, ',') + ']' 
	END

	INSERT @output ([value], [ord])
	SELECT x.[value], x.[key] + 1 as [ord]
	FROM OPENJSON(@json_values) as x

    RETURN
END


